.grid {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  max-width: 120rem;
  padding: 2.4rem;
}

.animate {
  animation: scaleAndBlur 1s ease-out;
}

@keyframes scaleAndBlur {
  0% {
    transform: scale(0);
    filter: blur(4px);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

/* @media (max-width: 51em) {
  html {
    font-size: 56.25%;
  }
} */
