.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  max-width: 13.2rem;
  padding-bottom: 0.8rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.card-box__level-6 {
  max-width: 10rem;
}
/* Apply this only if the browser supports proper/true/real/non-emulated hovering,
otherwise if the user has only a touch screen, then the animation will remains
on the element after the user will perfoc a touch action on it*/
@media (hover: hover) {
  .card-box:hover:not(.default-cursor) {
    transform: translateY(-0.7rem) scale(1.03);
    box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.15);
  }
}
.card-image {
  width: 100%;
}

.card-name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0 0.8rem;
  color: #444;
  word-break: break-word;
  hyphens: auto;
}

.border {
  box-shadow: 0 0 0.8rem 0.1rem #fa7c6d;
  animation: shakeShadow 0.4s ease-in;
}

.default-cursor {
  cursor: default;
}

@keyframes shakeShadow {
  0% {
    transform: translateX(-1rem);
    box-shadow: none;
  }

  25% {
    transform: translateX(1rem);
  }

  50% {
    transform: translateX(-1rem);
  }

  75% {
    transform: translateX(1rem);
  }

  100% {
    translatex: (0);
    box-shadow: 0 0 0.8rem 0.1rem #fa7c6d;
  }
}
/* 720h */

@media (max-width: 86em) {
  .card-box {
    max-width: 10.5rem;
  }
  .card-box__level-6 {
    max-width: 8.6rem;
    font-size: 1rem;
  }
}
@media (max-width: 54em) {
  .card-box {
    max-width: 9rem;
  }
  @media (max-width: 29em) {
    .card-box {
      max-width: 10rem;
    }
  }
}
@media (max-width: 21em) and (max-height: 32em) {
  .card-box {
    font-size: 1.2rem;
  }
}

@media (max-width: 24em) and (min-height: 37em) {
  .card-box {
    font-size: 1.4rem;
  }
}
