.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 11.2rem;
  padding-bottom: 0.8rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.border {
  box-shadow: 0 0 0.8rem 0.1rem #fa7c6d;
  animation: shakeShadow 0.4s ease-in;
}
.default-cursor {
  cursor: default;
}
.card-box:hover:not(.default-cursor) {
  transform: translateY(-0.7rem) scale(1.03);
  box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
}

.card-name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0 0.8rem;
  color: #444;
  word-break: break-word;
  hyphens: auto;
}
.card-btn {
  padding: 0.1rem;
  background-color: green;
}

@keyframes shakeShadow {
  0% {
    transform: translateX(-1rem);
    box-shadow: none;
  }

  25% {
    transform: translateX(1rem);
  }

  50% {
    transform: translateX(-1rem);
  }

  75% {
    transform: translateX(1rem);
  }

  100% {
    translatex: (0);
    box-shadow: 0 0 0.8rem 0.1rem #fa7c6d;
  }
}
