/*
COLORS:
-----------

Light blue : #1a4a59
Medium blue : #013646
Dark blue : #01313f

logo-font: #e6ebed


*/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 3.2rem;
  background-image: linear-gradient(to top right, #01313f, #1a4a59);
  font-size: 2.4rem;
}

.logo-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.logo {
  height: 7rem;
}

.logo-text {
  color: #e6ebed;
}

.loseMessage {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translatex(-50%);
  font-size: 2.4rem;
  font-weight: 600;
  color: #e6ebed;
}
