.btn {
  padding: 1.2rem 1.6rem;
  margin-top: 0.8rem;
  letter-spacing: 0.1rem;
  background-color: #1a4a59;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  color: #e6ebed;
}

.btn:hover {
  background-color: #013646;
  cursor: pointer;
}

.btn__absolute {
  position: absolute;
  margin: 0;
  background-color: #b42d2d;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  animation: 0.3s ease-out 1s 1 both slide;
}

.btn__absolute:hover {
  background-color: #a22929;
}

@keyframes slide {
  0% {
    top: 0;
    left: 50%;
    transform: translate(-50%, -200%);
  }
  100% {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
