.progress {
  display: flex;
  gap: 4.8rem;
  font-size: 1.8rem;
  grid-column: span 2;
  justify-self: center;
}

@media (max-width: 54em) {
  .progress {
    grid-column: 3/-1;
    justify-self: end;
  }
}
