.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

.name {
  color: #e6ebed;
}

.value {
  color: #fca399;
}

.max-level {
  color: #fa7c6d;
}

.vert {
  width: 0rem;
  height: 100%;
  margin: 0 0.8rem;
  background-color: #fff;
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}

.p__level {
  display: flex;
  align-items: center;
}
