*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.loader {
  border: 1.6rem solid #f3f3f3;
  border-top: 1.6rem solid #013646;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
