*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.loader {
  border: 1.6rem solid #f3f3f3;
  border-top: 1.6rem solid #013646;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 4k */
@media (min-height: 86em) {
  @media (max-width: 160em) {
    html {
      font-size: 120.25%;
    }
  }

  @media (max-width: 145em) {
    html {
      font-size: 105.25%;
    }
  }

  @media (max-width: 88em) {
    html {
      font-size: 91.25%;
    }
  }
  @media (max-width: 63em) {
    html {
      font-size: 74.25%;
    }
  }
}

/* < 4k */

@media (max-width: 90em) {
  html {
    font-size: 48.25%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 39.25%;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 31.25%;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 26.25%;
  }
}

@media (max-height: 41em) {
  @media (max-width: 64em) {
    html {
      font-size: 50.25%;
    }
  }

  @media (max-width: 41em) {
    html {
      font-size: 40.25%;
    }
  }

  @media (max-width: 29em) {
    html {
      font-size: 23.25%;
    }
  }
}

@media (max-height: 31em) {
  @media (max-width: 48em) {
    html {
      font-size: 37.25%;
    }
  }

  @media (max-width: 32em) {
    html {
      font-size: 31.25%;
    }
  }

  @media (max-width: 20em) {
    html {
      font-size: 26.25%;
    }
  }
}

@media (max-width: 18em) {
  html {
    font-size: 22.25%;
  }
}
