.dialog {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 60rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  animation: scale 1s ease-out;
}

.header {
  font-size: 2.8rem;
  letter-spacing: 0.05rem;
}

.header,
.body {
  border-bottom: 1px solid #ddd;
}

.header p {
  padding: 2.4rem;
}

.body {
  font-size: 2.2rem;
  line-height: 1.4;
}
.body p {
  padding: 1.2rem 2.4rem 1.8rem 2.4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  justify-self: end;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
